<div id= "rolo">
	<%= image_tag "rolo.png", :alt => "rolo papel manteiga" %>
</div>

<div class="slider">
	<div class="heading">
		<%= image_tag "oliwia.png", :alt => "oliwia", :class => "heading" %>
		<p>oliwia way project</p>
	</div>
	<div>
		<p>oliwia way</p>
		<p>
			with a black velvet hair, Oliwia is a shy and charming girl who learned how to enjoy life intensively. she was born healthier than any child around her, but was soon left alone. no family and friend understood her excessive love. love for smiling, love for dancing, running, creating and inspiring. instead of one heart she was born with two and carried them in her hands. When she was just a little girl she found herself in a unique world, where life became a universe of dreams and fantasies. welcome to the world where she found her way to be happy.
		</p>	
		<p>the artist</p>
		<p>
			Kalina Juzwiak is an architect and artist inspired by the universe that surrounds her. since a child she finds in art a way to turn off from influences from the past and future. art represents to her a moment of concentration with herself in the present. this is the way she found to draw onto paper her state of heart and mind.
		</p>
	</div>
</div>	

<div class="slider"> 
	<%= image_tag "day1.png", :alt => "day 1" %>
</div>

<div class="slider">
  	<%= image_tag "day1.png", :alt => "day 2" %>
</div>

<div class="slider">
  	<p>to be continued...</p>
	</div>
</div>
		