.container {
  width:8000px;
  height:800px;
  } 
  body {
    background-color:white;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position:center;  
    overflow-y:hidden;
    overflow-x:hidden;
    display:block;
    }

   /* BACKGROUND */ 

.intro {
  background-color:white;
  position:fixed;
  right:320px;
  width:850px;
  height:600px;
  margin:32px;  
  z-index:-1;
  border:0px dashed #606060;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
.intro p {
  float:right;
  width:400px;
  text-align:left;
  text-align:justify;
  padding-top:30px;
  padding-right:15px;
  padding-left:15px;
  border:0px dashed #606060;
  }
.intro h1 {
  position:absolute;
  right:0px;
  bottom:0px;
  float:right;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:30px;
  margin-bottom:242px;
  width:400px;
  border:0px dashed #606060;
  }
.oliwia {
  width:252px;
  height:350px;
  margin-top:210px;
  margin-left:40px;
  border:0px dashed #606060;
  }

/* SCROLLABLE */

.scrollable {
  cursor:e-resize;
  float:left;
  display:inline-block;
  width:1500px;
  height:600px;
  margin-top:32px;
  }
.scrollable .items {
  float:left;
  position:absolute;
  display:inline-block;
  width:20000em;
  height:600px;
  margin-left:1150px;
  z-index:-1;
  }
.items div {
  float:left;
  width:800px;
  height:600px;
  border:0px solid blue;
  background-image:url(rolo_papel_tela.png);
  }

.items p {
  margin-left:40px;
  margin-top:550px;
  font-size:3.0em;
  position:relative;
  }

   /* BUTTONS */

.home {
  width:20px;
  position:fixed;
  bottom:50px;
  right:55px;
  } 

.next {
  width:20px;
  position:fixed;
  top:290px;
  right:30px;
  }

.prev {
  width:20px;
  position:fixed;
  top:290px;
  right:80px;
  }

#rolo {
    float:right;
    position:fixed;
    top:11px;
    right:0px;
    }

#balloon {
    float:left;
    margin-top:210px;
    margin-left:40px;
    position:absolute;
    top:0%;
    left:0%;
    }

    #fb {
    position:fixed;
    top:545px;
    left:0%;
    height:50px;
    width:50px;
    z-index:0;
    }    

    #fbapp {
    position:fixed;
    top:475px;
    left:0%;
    z-index:0;
    }

    #by {
    position:fixed;
    bottom:3px;
    right:0%;
    margin-right:10px;
    }