.container {
  width: 8000px;
  height:800px;
  } 
  div {
    cursor:e-resize;
    }
  body {
    background-image:url(rolo_papel_tela.png);
    background-color:white;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position:center;  
    overflow-y:hidden;
    display:block;
    }
 
/* SLIDER */

.slider {
  float:left;
  display:inline-block;
  width: 800px;
  height:600px;
  margin-top:31px;
  margin-left:200px;
  margin-right:200px;
  border: 0px solid black;
  z-index:-1;
  }
.slider p {
  display:inline-block;
  font-size:1.25em;
  text-align:left;
  text-align:justify;
  padding-top:18px;
  padding-left:50px;
  padding-right:20px;
  width:350px;
  }

.heading {
  float:left;
  display:block;
  width: 350px;
  padding:10px;
  vertical-align:bottom;
  }
.heading p {
  font-size:2.0em;
  padding-top:18px;
  padding-left:50px;
  }

#rolo {
    float:right;
    position:fixed;
    top:11px;
    right:0px;x
    }
