<!DOCTYPE html>
<html lang="pt">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
<body>
    <div class="container">
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
</html>




  